---
---
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>Tom McFarlin Consulting</title>
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="/assets/js/app.js"></script>
</head>

<body class="mdc-typography">
  <div class="tmc-top-bar-container">
    <header class="mdc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <div class="mdc-top-app-bar__navigation-icon mdc-ripple-surface mdc-ripple-surface--accent"></div>
          <span class="mdc-top-app-bar__title mdc-theme--on-primary">Tom McFarlin Consulting</span>
        </section>
      </div>
    </header>
    <div class="mdc-tab-bar" role="tablist">
      <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area">
          <div class="mdc-tab-scroller__scroll-content">
            <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
              <span class="mdc-tab__content">
                <span class="mdc-tab__text-label mdc-theme--on-primary">Intro</span>
              </span>
              <span class="mdc-tab-indicator mdc-tab-indicator--active">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </button>
            <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0">
              <span class="mdc-tab__content">
                <!-- <span class="mdc-tab__icon material-icons"></span> -->
                <span class="mdc-tab__text-label mdc-theme--on-primary">Portfolio</span>
              </span>
              <span class="mdc-tab-indicator">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </button>
            <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0">
              <span class="mdc-tab__content">
                <!-- <span class="mdc-tab__icon material-icons">favorite</span> -->
                <span class="mdc-tab__text-label mdc-theme--on-primary">Blog</span>
              </span>
              <span class="mdc-tab-indicator">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop"></div>
      <section class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
        <div class="mdc-layout-grid__inner tmc-content tmc-content-intro tmc-show">
            {% include intro.html %}
        </div>
        <div class="mdc-layout-grid__inner tmc-content tmc-content-portfolio tmc-hide">
            {% include portfolio.html %}
        </div>
        <div class="mdc-layout-grid__inner tmc-content tmc-content-blog tmc-hide">
            {% include blog.html %}
        </div>
      </section>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop"></div>
    </div>
  </div>
  <footer>
    <div class="tmc-social-media">
      <a href="https://www.upwork.com/fl/tommcfarlin" target="_blank"><img src="/assets/images/upwork.png" alt="View Tom on Upwork"></a>
      <a href="https://www.linkedin.com/in/mcfarlin-software-consultant/" target="_blank"><img src="/assets/images/linkedin.png" alt="View Tom on LinkedIn"></a>
      <a href="https://github.com/tmcfarlin412" target="_blank"><img src="/assets/images/github.png" alt="View Tom on Github"></a>
      <a href="mailto:tommcfarlinconsulting@gmail.com" target="_blank"><img src="/assets/images/email.png" alt="Send Tom an email"></a>
    </ul>
  </footer>
</body>

</html>