<div class="tmc-space-tablet tmc-space-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-2-desktop"></div>
<div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-8-desktop">
    <h1>Contact information</h1>
    <p>Hire me at an hourly rate today by <a href="{{ include.upwork }}" target="_blank">messaging me on Upwork</a></p>
    <p>For all other inquiries, email me at <a href="mailto:{{ include.email }}">{{ include.email }}</a></p>

    <h2>Links</h2>
    <ul>
        <li>Email:
            <a href="mailto:{{ include.email }}">{{ include.email }}</a>
        </li>
        <li>Upwork:
            <a href="{{ include.upwork }}">{{ include.upwork }}</a>
        </li>
        <li>LinkedIn:
            <a href="{{ include.linkedin }}">{{ include.linkedin }}</a>
        </li>
        <li>Github:
            <a href="{{ include.github }}">{{ include.github }}</a>
        </li>
    </ul>
</div>
<div class="tmc-space-tablet tmc-space-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-2-desktop"></div>
