<footer>
    <div class="tmc-social-media">
        <a href="{{ user.upwork }}" target="_blank">
            <img src="/assets/images/upwork.png" alt="View {{ user.name }} on Upwork">
        </a>
        <a href="{{ user.linkedin }}" target="_blank">
            <img src="/assets/images/linkedin.png" alt="View {{ user.name }} on LinkedIn">
        </a>
        <a href="{{ user.github }}" target="_blank">
            <img src="/assets/images/github.png" alt="View {{ user.name }} on Github">
        </a>
        <a href="mailto:{{ user.email }}" target="_blank">
            <img src="/assets/images/email.png" alt="Send {{ user.name }} an email">
        </a>
        <a href="{{ user.twitter }}" target="_blank">
            <img src="/assets/images/twitter.png" alt="View {{ user.name }} on Twitter">
        </a>
        <a href="{{ user.rss }}" target="_blank">
            <img src="/assets/images/rss.png" alt="Subscribe to blog">
        </a>
    </div>
    <a id="tmc-references" href="/attribution.html">Attributions</a>
</footer>