<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tmc-profile-cell">
    <div class="tmc-profile-container">
        <img class="tmc-profile-triangle" src="/assets/images/blue.svg">
        <img class="tmc-profile circle mdc-elevation--z6" src="/assets/images/profile.png">
    </div>
    <div class="tmc-intro-hi-container">
        <h1>
            <span>Hi,</span>
            <span> I'm Tom</span>
        </h1>
        <p>
            I create software solutions!
        </p>
    </div>
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <h2>When you hire me, you get <i>me</i>.</h2>
    <p>
        I will be your single point of contant for all of your software questions and fixes. I will solve your problems and will enjoy doing so!
    </p>
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <h2>Mobile, Web, or Desktop… I build on all platforms!</h2>
    <p>
        My experience building applications on a range of platforms is valuable 
        when building a solid foundation that is easy to extend. 
        Visit my <a href="#portfolio">portfolio</a> for samples of my work.
    </p>
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <h2>Squash those bugs</h2>
 
    <p>
        I quickly fix issues at their root. <a href="#testimonials">Here's proof.</a>
    </p>
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <h2>What can I do?</h2>
    <p>
        Java, Kotlin, XML, JS, HTML, CSS, SQL, Material Design, Google integrations, 3rd-party integrations, and anything else Android-/web-related
    </p>
    </p>
</div>