<div class="tmc-space-tablet tmc-space-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-1"></div>
<div class="tmc-profile-cell tmc-row-intro mdc-layout-grid__cell mdc-layout-grid__cell--span-4-mobile mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-10-desktop">
    <div class="tmc-profile-container">
        <img class="tmc-profile-triangle" src="/assets/images/blue.svg">
        <img class="tmc-profile circle mdc-elevation---z6" src="/assets/images/profile.png">
    </div>
    <div class="tmc-intro-hi-container">
        <h1>
            <span>Hi,</span>
            <span> I'm Tom</span>
        </h1>
        <p>
            I create software solutions!
        </p>
    </div>
</div>
<div class="tmc-space-tablet tmc-space-desktop mdc-layout-grid__cell mdc-layout-grid__cell--span-1"></div>
<div class="mdc-layout-grid__inner tmc-intro-row-odd mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tmc-row-intro">

    <h2 class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">When you hire me, you get
        <i>me</i>
    </h2>

    <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-elevation--z6">
        <div class="tmc-intro-one-contact mdc-card__media mdc-card__media--16-9"></div>
        <div class="tmc-intro-card__primary">
            <h3>One contact</h3>
            <p>You won't be juggled around by sales</p>
        </div>
    </div>
    <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-elevation--z6">
        <div class="tmc-intro-bugs mdc-card__media mdc-card__media--16-9"></div>
        <div class="tmc-intro-card__primary">
            <h3>Bug exterminator</h3>
            <p>I quickly diagnose and fix issues at their root</p>
        </div>
    </div>
    <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-elevation--z6">
        <div class="tmc-intro-solutions mdc-card__media mdc-card__media--16-9"></div>
        <div class="tmc-intro-card__primary">
            <h3>Many solutions</h3>
            <p>Mobile, Web, Desktop… I'll find the solution that fits your business</p>
        </div>
    </div>
</div>
<div class="tmc-intro-row-even mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-elevation--z6">
    <h2>Satistied clients</h2>
    <div class="">
        <span>
        "It was a pleasure to work with Tom. He is a highly experienced Android developer, great communicator where he keeps you updated on the progress of your project and gives you recommendations on how to improve the app. Highly recommend and will hire again for our next project."
        </span>
    </div>
</div>
<div class="mdc-layout-grid__inner tmc-intro-row-odd mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tmc-row-intro">
    <h2 class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">Technology</h2>
    <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <h3>Mobile</h3>
        <p>Android, iOS, and Web</p>
    </div>
    <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <h3>Desktop</h3>
        <p>Chromebooks.</p>
    </div>
    <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <h3>CMS</h3>
        <p>Drupal, Wordpress, </p>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <p>
            Android, Java, Kotlin, XML, JS, HTML, CSS, PHP, Python, SQL, Drupal, Material Design, Google and other 3rd-party integrations
        </p>
    </div>
</div>