<div class="tmc-cell__intro--profile tmc-row tmc-row__intro mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <div class="tmc-intro__profile--picture-container">
        <img class="tmc-intro__profile-triangle" src="/assets/images/blue.svg">
        <img class="tmc-intro__profile-picture circle mdc-elevation--z6" src="/assets/images/profile.png">
    </div>
    <div class="tmc-intro__hi-container">
        <div class="tmc-intro__hi">
            <span>Hi,</span>
            <span> I'm Tom</span>
        </div>
        <button id="tmc-hire-upwork" class="mdc-button mdc-button--raised" data-url="{{ user.upwork }}" target="_blank">Hire me on Upwork</button>
        <button id="tmc-free-consultation" class="mdc-button mdc-button--raised" data-url="mailto:{{ user.email }}?subject=Free%2015%20minute%20consultation" target="_blank">Email me for free consultation</button>
    </div>
</div>
<div class="tmc-cell__divider mdc-layout-grid__cell mdc-layout-grid__cell--span-12"></div>
<div class="tmc-intro__pitch-card mdc-layout-grid__inner tmc-intro-row-odd mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tmc-row tmc-row__intro tmc-row__intro__pitch ">

    <h2 class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">When you hire me, you get
        <i>me</i>
    </h2>
    <div class="mdc-layout-grid__cell--span-12">
        <div class="tmc-intro__pitch">
            I am a freelance software engineer with years of experience building across modern platforms. Allow me to help you to make
            software-related decisions and build solutions for your business.
        </div>
    </div>
    <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-elevation--z6">
        <div class="tmc-intro__one-contact mdc-card__media mdc-card__media--16-9"></div>
        <div class="tmc-intro-card__primary">
            <h3>One contact</h3>
            <p>You will communicate directly with me</p>
        </div>
    </div>
    <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-elevation--z6">
        <div class="tmc-intro__bugs mdc-card__media mdc-card__media--16-9"></div>
        <div class="tmc-intro-card__primary">
            <h3>Bug exterminator</h3>
            <p>I am quick to diagnose and fix issues</p>
        </div>
    </div>
    <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-elevation--z6">
        <div class="tmc-intro__solutions mdc-card__media mdc-card__media--16-9"></div>
        <div class="tmc-intro-card__primary">
            <h3>No platform left behind</h3>
            <p>I'm here to solve <i>all</i> of your software problems</p>
        </div>
    </div>
</div>

<div class="tmc-row tmc-row__testimonials tmc-intro-row-even mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-elevation--z6">
    <div class="tmc-arrow-left"></div>
    {% for testimonial in site.data.testimonials %}
    <div class="tmc-testimonial {% if testimonial == site.data.testimonials.first %}tmc-show{% else %}tmc-hide{% endif %}">
        <div class="tmc-testimonial__profile">
            <div class="tmc-testimonial__profile-image" style="background-image: url({{ testimonial.imageUrl }});"></div>
            <div class="tmc-testimonial__profile-text">
                    <span>{{ testimonial.name }}<br>{{ testimonial.title }} at <a href="{{ testimonial.companyUrl }}" target="_blank">{{ testimonial.companyName }}</a>
                    </span>
                </div>
        </div>
        <div class="tmc-testimonial__quote">
                <span>
                    "{{ testimonial.quote }}"
                </span>
            </div>
    </div>
    {% endfor %}
    <div class="tmc-arrow-right"></div>
</div>
<div class="tmc-row tmc-row__intro mdc-layout-grid__inner tmc-intro-row-odd mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <h2 class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">Expertise</h2>
    <div class="tmc-technologies mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        {% for technology in site.data.technologies %}
        <div class="tmc-tag">{{ technology }}</div>
        {% endfor %}
    </div>
    <a id="tmc-intro-view-my-portfolio" href="?tab=portfolio" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">View my portfolio</a>
</div>