<div class="tmc-space-tablet tmc-space-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-2-desktop"></div>
<div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-8-desktop mdc-card mdc-elevation--z6 ">
    <div class="mdc-card__primary-action">
        <div class="tmc-intro__one-contact mdc-card__media"></div>
        <div class="tmc-intro-card__primary">
            <h2>ezClocker</h3>
                <p>Bug fixes etc.</p>
        </div>
    </div>
</div>
<div class="tmc-space-tablet tmc-space-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-2-desktop"></div>
<div class="tmc-space-tablet tmc-space-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-2-desktop"></div>
<div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-8-desktop mdc-card mdc-elevation--z6 ">
    <div class="mdc-card__primary-action">
        <div class="tmc-intro__one-contact mdc-card__media"></div>
        <div class="tmc-intro-card__primary">
            <h2>ezClocker</h3>
                <p>Bug fixes etc.</p>
        </div>
    </div>
</div>
<div class="tmc-space-tablet tmc-space-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-2-desktop"></div>
<div class="tmc-space-tablet tmc-space-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-2-desktop"></div>
<div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-8-desktop mdc-card mdc-elevation--z6 ">
    <div class="mdc-card__primary-action">
        <div class="tmc-intro__one-contact mdc-card__media"></div>
        <div class="tmc-intro-card__primary">
            <h2>ezClocker</h3>
                <p>Bug fixes etc.</p>
        </div>
    </div>
</div>
<div class="tmc-space-tablet tmc-space-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-2-desktop"></div>