body {
    margin: 0px;
    background: rgba(87, 132, 195, 0.1);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

*.allow-user-select * {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -o-user-select: text;
}

table {
    background: white;
    border-spacing: 0px;
    font-size: 14px;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12)
}

code {
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
    max-height: 400px;
}

.post > p > code {
    box-shadow: none;
}

.post > pre {
    display: inline-block;
}

thead {
    height: 35px;
    font-size: 16px;
}

th, td {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    padding: 4px 8px;
}

th:last-child, td:last-child {
    border-right: none;
}

tbody tr:last-child td {
    border-bottom: none;
}

.tmc-content__intro h2 {
    text-align: center;
}

h3 {
    margin-top: 0px;
    margin-bottom: 8px;
}

.tmc-grid-root {
    padding: 16px;
}

.tmc-row {
    padding: 16px;
}

:root {
    --tmc-theme-red: #FC696E;
    --tmc-theme-blue: #5784C3;
    --tmc-theme-yellow: #FEC30A;
    --mdc-theme-primary: white;
    --mdc-theme-secondary: var(--tmc-theme-blue, black);
    --mdc-theme-on-primary: black;
    --mdc-theme-on-secondary: white;
    --upwork-green: #4CB323;
}

.tmc-blog-card {
  cursor: pointer;
}

.tmc-portfolio__card {
    background: white;
    border-radius: 4px;
}

.tmc-portfolio__card--content {
    padding: 16px;
    display: block;
    position: relative;
}

.tmc-portfolio__card--technologies {
    word-break: break-word;
}

.tmc-tag {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid rgb(200, 200, 200);
    padding: 2px 4px;
    margin: 2px 4px;
}

.tmc-tag.tmc-active {
    background-color: var(--tmc-theme-blue, black);
    color: white;
}

.tmc-portfolio__card--content > * {
    padding: 16px;
}

.tmc-portfolio__card--header--arrow {
    height: 24px;
    width: 24px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.tmc-portfolio__card.tmc-collapse .tmc-portfolio__card--content {
    display: none;
}

.tmc-portfolio__card--header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 16px;
}

.tmc-portfolio__card--header * {
    pointer-events: none;
}

.tmc-portfolio__card.tmc-collapse .tmc-portfolio__card--header--arrow {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.tmc-portfolio__project-task {
    display: flex;
    flex-direction: column;
}

.tmc-portfolio__project-image-container {
    height: 64px;
    width: 100%;
    max-width: 150px;
    margin-left: 16px;
}

.tmc-portfolio__project-image-container > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: left;
}

.tmc-portfolio__card--title {
    margin: 0 0;
}

.tmc-portfolio__project-timeline {
    font-style: italic;
}

.tmc-portfolio__project-task {
    flex-direction: row;
}

.tmc-portfolio__project-task-description {
    width: 0px;
    flex-grow: 1;
}

.tmc-content:nth-child(1) {
  --mdc-theme-secondary: var(--tmc-theme-blue, black);
}

.tmc-content:nth-child(2) {
  --mdc-theme-secondary: var(--tmc-theme-red, black);
}

.tmc-content:nth-child(3) {
  --mdc-theme-secondary: var(--tmc-theme-yellow, black);
}

.tmc-content:nth-child(4) {
    --mdc-theme-secondary: var(--tmc-theme-blue, black);
  }

.tmc-top-bar-container {
    position: flex;
    top: 0px;
    left: 0px;
    background: var(--mdc-theme-primary, white);
}

.mdc-top-app-bar {
    position: relative;
}

.mdc-top-app-bar__navigation-icon {
    background-image: url('/assets/images/logo.png');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 12px 12px;
}

.mdc-top-app-bar__navigation-icon::after,
.mdc-top-app-bar__navigation-icon::before {
    background-color: var(--mdc-theme-secondary, black) !important;
}

.mdc-top-app-bar__title {
    padding-left: 8px;
}

.mdc-tab-bar {
    position: relative;
    color: var(--mdc-theme--on-primary, black)
}

.mdc-tab-scroller__scroll-content {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.mdc-tab {
    max-width: 150px;
}

.mdc-tab-bar button:nth-child(1) .mdc-tab-indicator>.mdc-tab-indicator__content--underline {
    background-color: var(--tmc-theme-blue, black)
}

.mdc-tab-bar button:nth-child(2) .mdc-tab-indicator>.mdc-tab-indicator__content--underline {
    background-color: var(--tmc-theme-red, black)
}

.mdc-tab-bar button:nth-child(3) .mdc-tab-indicator>.mdc-tab-indicator__content--underline {
    background-color: var(--tmc-theme-yellow, black)
}

.mdc-tab-bar button:nth-child(4) .mdc-tab-indicator>.mdc-tab-indicator__content--underline {
    background-color: var(--tmc-theme-blue, black)
}

.tmc-space-tablet, .tmc-space-desktop {
  display: none;
}

.circle {
    border-radius: 100%;
}

.tmc-show {
    display: block;
}

.tmc-hide {
    display: none !important;
}

.tmc-show-grid {
    display: grid;
}

footer {
    display: flex;
    flex-direction: column;
}

footer .tmc-social-media {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
  margin-left: 0;
  margin-right: 0;
}

footer img {
  width: 24px;
  height: 24px;
  padding: 12px;
}

#tmc-references {
    padding: 2px;
    color: rgba(200, 200, 200);
    text-align: right;
}

button.mdc-tab:nth-child(2) {
  --mdc-theme-secondary: var(--tmc-theme-red, black);
}

.tmc-cell__divider {
    height: 1px;
    background: rgba(0, 0, 0, 0.1)
}

/* INTRO */

.tmc-intro__hi-container {
    font-size: 2em;
    font-weight: bold;
    margin-top: 8px;
}

.tmc-intro__hi-container > * {
    display: block;
}

.tmc-intro__hi {
    margin-bottom: 24px;
    text-align: center;
}

.tmc-cell__intro--profile {
    position: relative;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tmc-intro__profile--picture-container {
    position: relative;
        width: 200px;
        height: 324.46px;
        flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 0;
}

.tmc-intro__profile-triangle {
    width: 100%;
    height: 100%;
}

.tmc-intro__profile-picture {
    position: absolute;
    width: 66%;
    height: auto;
    top: 10%;
    left: 17%;
    right: 0;
    background: white;
    padding: 2px;
}

#tmc-hire-upwork {
    --mdc-theme-primary: var(--upwork-green, black);
    color: white;
    margin-top: 8px;
}

#tmc-free-consultation {
    --mdc-theme-primary: var(--tmc-theme-red, black);
    color: white;
    margin-top: 8px;
}
.tmc-intro__hi-container {
    margin-top: -124px;
    padding: 0px;
}

.tmc-intro__hi-container > * {
    margin-left: auto;
    margin-right: auto;
}

.tmc-intro__profile-triangle {
    visibility: hidden;
}

@media (min-width: 586px) {
    .tmc-intro__profile-triangle {
        visibility: visible;
    }

    .tmc-intro__hi-container {
        margin-top: 86px;
        background: inherit;
    }
}

.time-intro__intro-container {
    width: 100%;
    flex-shrink: 0;
}

.time-intro__intro-container > div {
    width: 100%;
    margin: 8px auto;
    max-width: 500px;
}

.tmc-content__intro {
    text-align: center;
}

.tmc-intro-row-odd {
    /* border-top: 1px solid rgba(0, 0, 0, 0.2) */
}

.tmc-intro-row-even {
    background: var(--tmc-theme-blue, white);
    color: white;
    padding: 24px;
}

.tmc-intro__one-contact {
    background-image: url('/assets/images/one-contact.png')
}

.tmc-intro__bugs {
    background-image: url('/assets/images/bugs.png')
}

.tmc-intro__solutions {
    background-image: url('/assets/images/solutions.png')
}

.tmc-intro-card__primary {
    padding: 24px;
}

.tmc-intro-card__primary h2 {
    margin-top: 0px;
}

.tmc-intro-card__primary p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#tmc-intro-view-my-portfolio {
    text-align: center;
}

/* TESTIMONIAL */

.tmc-testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 700px;
    padding-left: 24px;
    padding-right: 24px;
}

.tmc-testimonial__profile {
    width: 144px;
    position: relative;
    flex-grow: 0;
}

.tmc-testimonial__profile-image {
    width: 96px;
    height: 96px;
    background-size: cover;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.tmc-testimonial__profile-text {
    text-align: center;
    margin-top: 8px;
}

.tmc-testimonial__quote {
    max-width: 400px;
    flex-grow: 1;
    padding: 16px;
    text-align: left;
}

.tmc-testimonial a {
    color: white !important;
}

.tmc-row__testimonials {
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.tmc-arrow-right {
    width: 36px;
    height: 36px;
    background-image: url('/assets/images/arrow-right.png');
    background-size: cover;
}

.tmc-arrow-left {
    width: 36px;
    height: 36px;
    background-image: url('/assets/images/arrow-left.png');
    background-size: cover;
}

.tmc-row__testimonials .tmc-arrow-left, .tmc-row__testimonials .tmc-arrow-right  {
    cursor: pointer;
    flex-shrink: 0;
}

.tmc-technologies {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.tmc-technologies > * {
    padding: 0 8px;
}

/* tablet */
@media (min-width: 480px) {
    .tmc-space-mobile {
      display: none;
    }
    .tmc-space-tablet {
      display: block;
    }
    .tmc-desktop-space {
      display: block;
    }

    .tmc-arrow-left, .tmc-arrow-right {
        width: 48px;
        height: 48px;
    }

    .mdc-tab-bar {
        /* max-width: 600px; */
    }
    .tmc-testimonial {
        flex-direction: row;
    }

    .mdc-tab-scroller__scroll-content {
        justify-content: left;
    }

    .tmc-intro__pitch {
        margin: 8px auto;
        max-width: 700px;
    }

    .tmc-content__intro {
        text-align: left;
    }
    
    .tmc-testimonial__profile-image {
        width: 128px;
        height: 128px;
    }

    .tmc-portfolio__card--content {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "title title"
            "timeline timeline"
            "summary tasks"
            "summary technologies";
    }
    
    .tmc-portfolio__card--title {
        grid-area: title;
    }

    .tmc-portfolio__project-timeline {
        grid-area: timeline;
    }

    .tmc-portfolio__card--summary {
        grid-area: summary;
    }
    
    .tmc-portfolio__card--tasks {
        grid-area: tasks;
    }
    
    .tmc-portfolio__card--technologies {
        grid-area: technologies;
    }
}

/* desktop */
@media (min-width: 840px) {
    .tmc-space-mobile {
      display: none;
    }
    .tmc-space-tablet {
      display: none;
    }
    .tmc-space-desktop {
      display: block;
    }

    .tmc-grid-root {
        padding: 24px;
    }

    .tmc-row {
        padding: 24px;
    }

    .tmc-portfolio__card--content {
        grid-template-columns: 40% 60%;
    }
}

.post > * {
    margin-left: 24px;
}

.post > h1 {
    margin-left: 0px;
}

.post > h2 {
    margin-left: 0px;
    margin-top: 64px;
}

.post > h3, .post > h4, .post > h5 {
    margin-top: 32px;
}

